doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Missing #{myTitle}
        meta(http-equiv='Content-Security-Policy' content="default-src 'none'; img-src " + panelWebviewCspSource + " https:; script-src 'nonce-" + nonce + "'; style-src 'unsafe-inline';")
    body
        table(style='border: 1px solid black;')
            tr
                td #[b Missing #{myTitle}]
                if !readOnly
                    td
                    td #[b Selected #{myTitle}]
            tr
                td
                    select(id='missinglitems' name='missinglitems' multiple='multiple' size='40' style='min-width: 600px;min-height: 800px;')
                        each item in missingItems
                            option(value=item.path) #{item.name}
                if !readOnly
                    td
                        button(type='button' id='missingAddButton') >
                        br
                        br
                        button(type='button' id='missingRemoveButton') <
                    td
                        select(id='missingritems' name='missingritems' multiple='multiple' size='40' style='min-width: 600px;min-height: 800px;')
            if !readOnly
                tr
                    td(colspan='3' align='right')
                        table(id='serverInfo')
                            tr
                                td Source Tanium Server FQDN
                                td 
                                    div(id='divMissingSourceFqdn')
                            tr
                                td Destination Tanium Server FQDN
                                td
                                    div(id='divMissingDestFqdn')
                            tr
                                td Destination Tanium Server Username
                                td
                                    div(id='divMissingUsername')
                            tr
                                td Destination Tanium Server Password
                                td
                                    input(id='missingTaniumServerPassword' type='password')
                            tr
                                td Destination Tanium Server Signing Keys
                                td
                                    div(id='divMissingSigningKey')
            if !readOnly
                tr
                    td(colspan='3' align='right' )
                        button(id='processMissingButton') Process #{myTitle}
        div(id='divFqdns' style='visibility: hidden;') #{fqdns}
        div(id='divUsernames' style='visibility: hidden;') #{usernames}
        div(id='divSigningKeys' style='visibility: hidden;') #{signingKeys}
        div(id='divTransferIndividual' style='visibility: hidden;') #{transferIndividual}
        div(id='divShowServerInfo' style='visibility: hidden;') #{showServerInfo}
        script(nonce="" + nonce + "" src="" + scriptUri + "")
