doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Missing #{myTitle}
        meta(http-equiv='Content-Security-Policy' content="default-src 'none'; img-src " + panelWebviewCspSource + " https:; script-src 'nonce-" + nonce + "'; style-src 'unsafe-inline';")
    body
        table(style='border: 1px solid black;')
            tr
                td #[b Modified #{myTitle}]
                    if !readOnly
                        td
                        td #[b Selected #{myTitle}]
            tr
                td
                    select(id='modifiedlitems' name='modifiedlitems' multiple='multiple' size='40' style='min-width: 600px;min-height: 800px;')
                        each item in items
                            option(value=item.path) #{item.name}
                if !readOnly
                    td
                        button(type='button' id='modifiedAddButton') >
                        br
                        br
                        button(type='button' id='modifiedRemoveButton') <
                    td
                        select(id='modifiedritems' name='modifiedritems' multiple='multiple' size='40' style='min-width: 600px;min-height: 800px;')
            if !readOnly
                tr
                    td(colspan='3' align='right')
                        table(id='serverInfo')
                            if !noSourceServer
                                tr
                                    td Source Tanium Server FQDN
                                    td 
                                        div(id='divModifiedSourceFqdn')
                            tr
                                td Destination Tanium Server FQDN
                                td
                                    div(id='divModifiedDestFqdn')
                            tr
                                td Destination Tanium Server Username
                                td
                                    div(id='divModifiedUsername')
                            tr
                                td Destination Tanium Server Password
                                td
                                    input(id='modifiedTaniumServerPassword' type='password')
                            if !noSigningKeys
                                tr
                                    td Destination Tanium Server Signing Keys
                                    td
                                        div(id='divModifiedSigningKey')
            if !readOnly
                tr
                    td(colspan='3' align='right' )
                        button(id='processModifiedButton') Process #{myTitle}
        div(id='divFqdns' style='visibility: hidden;') #{fqdns}
        div(id='divUsernames' style='visibility: hidden;') #{usernames}
        div(id='divSigningKeys' style='visibility: hidden;') #{signingKeys}
        div(id='divTransferIndividual' style='visibility: hidden;') #{transferIndividual}
        div(id='divShowServerInfo' style='visibility: hidden;') #{showServerInfo}
        script(nonce="" + nonce + "" src="" + scriptUri + "")
